<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://kit.fontawesome.com/a07cc7b390.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
 </head>
 <body>
    <header class="main-header"> 
        <div class="main-header-top-bar">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo" alt="Logo"></a>
            <form action="#" class="form-search" method="GET">
                <input type="search" placeholder="Buscar productos, marcas..."  name="search" class="search"></input> 
                <i class="fas fa-search"></i>
            </form>
                
            <h3 class="copy-header">
                <i class="fas fa-hand-holding-usd">    
                </i>Comprá en cuotas y sin tarjeta de credito
                </h3>
            </div>


                <nav class="main-navbar">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>

                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                    
                </nav>

               <div class="burger"><i class="fa fa-bars"></i></div>

            </header>
    <form action="/" method="POST" class="form-registro">

      <h3>CREAR CUENTA</h3>

      <div>
          <label for="nombre">Ingrese su Nombre:</label>
          <input id="nombre" type="text" name="nombre" minlength="5" placeholder="Nombre Completo">
      </div>

      <div>
          <label for="usuario">Ingrese su Usuario:</i></label>
          <input id="usuario" type="text" name="usuario" placeholder="Nombre de Usuario">
      </div>

      <div>
        <label for="date">Fecha de nacimiento:</i></label>
        <input id="date" type="date" name="fecha" placeholder="Ingrese su fecha de nacimiento">
     </div>

     <div>
      <label for="domicilio">Domicilio:</i></label>
      <input id="domicilio" type="text" name="domicilio" placeholder="Ingrese domicilio">
     </div>

     <div>
     <label for="perfil">Perfil de usuario:</i></label>
     <label class="perfil">
      <input id="perfil" type="radio" name="perfil" value="Comprador">Comprador</label>

     <label class="perfil">
      <input id="perfil" type="radio" name="perfil" value="Vendedor">Vendedor</label>
     </div>

     <div>
       <label class="categoria">Categoría de interés:</label>
       <select name="categoria">
         <option value="electro">Electro</option>
         <option value="moda">Moda</option>
         <option value="hogar">Hogar</option>
         <option value="jugueteria">juguetería</option>
         <option value="vida sana">Vida sana</option>

       </select>
     </div>

     <div>
      <label for="foto">Foto de usuario:</i></label>
      <input id="foto" type="file" name="foto"  class="foto">
     </div>
     
      
      <div>
          <label for="email">Ingrese su Email:</i></label>
          <input id="email" type="email" name="email" placeholder="Email">
      </div>

      <div>
          <label for="contraseña">Ingrese su Contraseña</i></label>
          <input id="contraseña" type="password" name="contraseña" placeholder="Contraseña">
      </div>

      <div>
          <label for="repetir-contraseña">Repetir Contraseña</i></label>
          <input id="repetir-contraseña" type="password" name="repetir-contraseña" placeholder="Repetir Contraseña">
      </div>

      <div>
          <button type="submit" class="arte-boton">Registrarme</button>
          <button type="reset" class="arte-boton">Borrar</button>
      </div>

    </form>


    <footer>
        <div class="d-flex">
            <section class="footer">
                <div class="icon"><i class="fas fa-credit-card"></i></div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>
   
            <section class="footer">
                <div class="icon"><i class="fas fa-gift"></i></div>
                <h2>Envío gratis desde $2500</h2>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
   
            <section class="footer"> 
                <div class="icon"><i class="fas fa-user-shield"></i></div>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </section>
        </div>

         <br>
         
        <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        
       </footer>
</body>
</html>

