<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://kit.fontawesome.com/a07cc7b390.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <header class="main-header"> 
            <div class="main-header-top-bar">
              <a href="/">
                <img src="/img/logo-mercado-liebre.svg" class="logo" alt="Logo">
              </a>
                <input type="search" placeholder="Buscar productos, marcas..." class="search"></input>
                    <div><i class="fas fa-search"></i></div>
                    <h3 class="copy-header">
                        <i class="fas fa-hand-holding-usd">    
                        </i>Comprá en cuotas y sin tarjeta de credito
                        </h3>
            </div>
    
    
                    <nav class="main-navbar">
                        <ul>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
    
                        <ul>
                            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li> 
                            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                        
                    </nav>
    
                   <div class="burger"><i class="fa fa-bars"></i></div>
    
    </header>

    <form action="/register" method="POST" class="create-form">
        <div class="control-formulario">
          <label for="nombreyapellido">Nombre y apellido: </label>
          <input id="nombreyapellido" type="text" minlength="5" name="name" class="control">
        </div>
    
        <div class="control-formulario">
          <label for="nombreusuario">Nombre de usuario: </label>
          <input id="nombreusuario" type="text" name="usuario" class="control">
        </div>

        <div class="control-formulario">
            <label for="date">Fecha de nacimiento: </label>
            <input id="date" type="date" name="fecha" class="control">
          </div>

          <div class="control-formulario">
            <label for="domicilio">Domicilio: </label>
            <input id="domicilio" type="text" name="domicilio" class="control">
          </div>

          <div class="control-formulario">
            <label>Perfil del usuario: </label>
            <label>
              <input type="radio" name="perfil" value="comprador" class="check"> Comprador 
            </label>
            <label>
              <input type="radio" name="perfil" value="vendedor" class="check"> Vendedor
            </label>

          </div>
    
        <div class="control-formulario">
          <label>Categoría de interés: </label>
          <input type="checkbox" value="Electro" class="check"> Electro
          <br>
          <input type="checkbox" value="Moda" class="check"> Moda
          <br>
          <input type="checkbox" value="Hogar" class="check"> Hogar
          <br>
          <input type="checkbox" value="Jugueteria" class="check"> Juguetería
          <br>
          <input type="checkbox" value="Vida sana" class="check"> Vida sana
          <br>
      
        </div>

        <div class="control-formulario">
            <label for="foto">Foto de usuario: </label>
            <input id="foto" type="file" name="foto" class="control">
          </div>

        <div class="control-formulario">
            <label>Contraseña: </label>
            <input type="password" name="password" class="control" required>
          </div>

          <div class="control-formulario">
            <label>Confirmar contraseña: </label>
            <input type="text" name="pass_confirm" class="control" required>
          </div>

        <button type="reset" class="boton-formulario">Borrar</button>
        <br>
        <button type="submit"class="boton-formulario">Enviar</button>
    
        
      </form>

      <footer>
        <section class="footer">
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </section>

        <section class="footer">
            <div class="icon"><i class="fas fa-gift"></i></div>
            <h2>Envío gratis desde $2500</h2>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer"> 
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>

        <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        
       
    </footer>
</body>
</html>