*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*helpers#/

.d-flex{
    display:flex;
}

.justin


/*General*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    
}

div.banner img{
    width: 100%;
}

.center{
    text-align: center;
    margin:  auto;
}

h2{
    font-size:24px ;
    min-width: 290px;
}

/*Header*/

.main-header{
    background-color: #EAC926;
}

.logo{
    width: 50%;
    
}

.main-navbar{
    font-size: 14px;
    display: none;
    padding-bottom: 15px;
}

.main-navbar ul{
    list-style: none;
}

.main-navbar a{
    color: black;
    text-decoration: none;

}

.burger{
    text-align: center;
    display: block;
}

.burger i{
    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
}

nav{
    display: none;
}

h3{
    font-weight: 400;
}

.search{
    width: 50%;
    height: 20px;
    margin-right: 5px;
}


.form-search{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}


/*Main*/

main{
    margin:0 auto;
    width: 90%;
}

.main-article{
    border-top:solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuento{
    font-size: 16px;
    width: 70%;
}

.descripcion{
    font-size: 16px;
    font-weight: normal;
    color: #666;
    display: none;
    
}

article{
    margin:10px 0px;
    text-align: left;
}

main section article{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



main section article i,
.descuento{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
}

main section article img{
    width: 100%;
}

.main-article h4{
    
}

/*Footer*/

.icon i{    
    color:  #03264C;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

footer{
    margin: 15px 5px;
    margin-bottom: 15px;
}

.footer{
    text-align: center;
    margin: auto;
    
}

.main-header-top-bar{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/*register*/
.form-registro {
    margin: auto;
    max-width: 700px;
    padding: 20px 0;
}

.form-registro div {
    margin: 15px;
}

.form-registro label {
    display: block;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display:flex ;
}

.form-registro input {
    width: 100%;
    border: solid #03264C 1px;
    outline: none;
    padding: 15px;
    border-radius: 8px;
}

.form-registro h3 {
    text-align: center;
    padding-top: 15px;
}

.form-registro button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color:#03264C;
    border: none;
    color: #ffffff;
    border-radius: 8px;
}

.perfil{
    width: 14%;
    display: block;
    
}



/*login*/
main .form {
    margin: auto;
    max-width: 700px;
    padding: 20px 0;
}

main .form div {
    margin: 15px;
}

main .form label {
    display: block;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

main .form input {
    width: 100%;
    border: solid #03264C 1px;
    padding: 15px;
    border-radius: 8px;
}

.form h2,
.form p {
    text-align: center;
    padding-top: 15px;
}

.form button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color:#03264C;
    border: none;
    color: #ffffff;
    border-radius: 8px;
}

.form a {
    display: block;
    margin: auto;
    padding-top: 10px;
    text-decoration: none;
    color: #03264C;
    text-align: center;
}

.form button:hover{
    background-color:#0022AA
}

@media (min-width: 361px){
    
    .descripcion{
        display: block;
    }
    
    
    nav{
        display: block;
    }
    
    main section div.producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .precio{
        width: 50%;
    }
    
    .descuento{
        width: 50%;
        
    }
    
    main section div.producto article{
        width: 45%;
    }
    
    
}



@media (min-width: 769px){
    
    .burger{
        display: none;
    }
    
    
    
    nav{
        display: block;
    }
    
    main section div.producto article{
        width: 22%;
    }


    .main-header-top-bar{
       padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .copy-header{
        max-width: 300px;
        text-align: right;
    }
    
    .hamburguer-button{
        display: none;
    }
    
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }

    .main-navbar li{
        margin: 0 10px;
    }

    .logo{
        width: 200px;
        padding: 15px ;
    }

    .search{
        width: 200px;
    }

    .form-search{
        display: flex;
        align-items: center;
        width: 31%;
        justify-content: center;
    }

}
             



@media (min-width: 1024px){
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }

    .logo{
        width: 250px;
    }

    .main-header-top-bar{
        align-items: center;
    }

    .copy-header{
        margin: 0px;
        max-width: none;
        font-size: 20px;
        font-weight: 400;
    }


    .main-navbar li{
        margin: 0 10px;
    }

    .main-navbar a{
        font-size: 19px;
    }

    .logo{
        width: 200px;
        margin:20px 20px;
    }

    .descripcion{
        display: none;
    }
    
  

    main section article:hover .descripcion{
        display: block;
    }
    

    main section article{
        box-shadow: none;
    }


    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    
    main section article i{
        transition: transform 1000ms;
    }

    main section article:hover i{
        transform: rotateZ(-90deg);
    } 

    footer section i{
        text-decoration: none;
        color: #1259c3;
    
    }
    
    footer section i:hover{
        color: #f19f07
    }

    .d-flex{
        display: flex !important;
    }

    .footer{
        margin-bottom: 20px;
    }

    .search{
        width: 300px;
    }
}

